:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(235, 235, 235, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #242424;
  display: flex;
  justify-content: center;
  place-items: center;
  text-align: center;
}

section {
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  text-align: center;
}

#loginContainer,
form {
  justify-content: flex-start;
  place-items: start;
  margin: 0;
  position: absolute;
  box-shadow: #121212 13px 13px 66px, #121212 -13px -13px 66px, inset #121212 13px 13px 13px,
    inset #121212 -13px -13px 13px;
  background-color: #252525ef;
  width: 90vw;
  height: 90vh;
  border-radius: 13px;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  top: -5vh;
  left: -31vw;
}

input,
form button {
  background-color: #303030;
  color: ghostwhite;
  border: #121212 solid 0.2em;
  border-radius: 2em;
  line-height: 1.7;
  padding: 0.2em 1em;
}

#container {
  min-width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button {
  margin-top: 10px;
  background-color: #303030;
  color: ghostwhite;
  border: #121212 solid 0.2em;
  border-radius: 3px;
  line-height: 1.7;
}

#carousel-container .container {
  max-width: 568px;
  max-height: 928px;
  overflow-x: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  position: relative;
}

.carousel {
  position: absolute;
  top: 10;
  left: 0;
}

.arrow {
  position: absolute;
  top: 0;
  height: 928px;
  background-color: #3030307c;
  border: none;
}

#left-Arrow {
  left: 100%;
}

#right-arrow {
  right: 0;
}

@media (min-width = 2000px) {
  #login-container,
  form {
    top: -15vh;
    left: -40vw;
  }
}

/*.carousel {
  display: flex;
  justify-content: start;
  gap: 2rem;
  overflow-x: auto;
  margin-top: 1rem;
  padding: 0 2rem 1rem 2rem;
}*/
